body {
    font-family: sans-serif;
    background-color: #fcfcfc;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* Estilos por defecto */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fcfcfc;
}

button {
    background: none;
    border: none;
    color: #fcfcfc;
}

img {
    width: 30px;
}

/* Estilos del encabezado */

header {
    background-color: #0b3b69;
    color: #fcfcfc;
    height: 6em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    cursor: pointer;
    margin: 0 20px;
}

.header__logo-container {
    display: flex;
    flex-direction: column; /* Asegura que el span quede abajo */
    align-items: center; /* Centra todo en la columna */
}

.header__logo {
    display: flex; /* Alinea la imagen y el texto en la misma fila */
    align-items: center; /* Centra verticalmente la imagen con el texto */
}

.header__logo img {
    padding: 0 0 7px 0; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen correctamente */
}

.header__logo a {
    font-size: 2.7em;
}

.header p {
    margin-right: 25px;
}

/* Navegación */

.nav {
    background-color: #14497b;
    height: 90vh;
    position: absolute;
    left: 0;
}

.nav__ul {
    position: relative;
    top: -30px;
    left: -30px;
}

.nav__li {
    padding-top: 30px;
}

.nav__li button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
}

.nav__li button img {
    height: auto;
}


.nav__li ul {
    padding-top: 5px;
}

.nav__li ul li {
    padding-bottom: 10px;
    margin-top: 10px;
}

.nav__li ul li:hover {
    color: red;
}

.nav__li ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav__li ul li img {
    width: 20px;
    height: auto;
}

/* Versión Mobile */

@media only screen and (max-width: 768px) {
    .header p {
        display: none;
    }
}