body {
    font-family: sans-serif;
    background-color: #fcfcfc;
    font-size: 16px;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Estilos por defecto */

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fcfcfc;
}

button {
    background: none;
    border: none;
    color: #fcfcfc;
}

img {
    width: 30px;
}

/* Estilos del encabezado */

header {
    background-color: #0b3b69;
    color: #fcfcfc;
    height: 6em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    cursor: pointer;
    margin: 0 20px;
}

.header__logo-container {
    display: flex;
    flex-direction: column; /* Asegura que el span quede abajo */
    align-items: center; /* Centra todo en la columna */
}

.header__logo {
    display: flex; /* Alinea la imagen y el texto en la misma fila */
    align-items: center; /* Centra verticalmente la imagen con el texto */
}

.header__logo img {
    padding: 0 0 7px 0; /* Espacio entre la imagen y el texto */
    vertical-align: middle; /* Alinea la imagen correctamente */
}

.header__logo a {
    font-size: 2.7em;
}

.header p {
    margin-right: 25px;
}

/* Navegación */

.nav-main-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.nav {
    background-color: #14497b;
    min-height: 90vh;
    width: 50vh;
    transition: visibility 0.3s, transform 0.3s ease-in-out;
 /*    transform: translatex(-100%); */
}

/* Para JAVASCRIPT */
nav.mostrar {
    visibility: visible;
    transform: translatex(0);
}

/* =========================== */

.nav__ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav__li {
    padding-top: 30px;
}

.nav__li button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
}

.nav__li button img {
    height: auto;
}

.nav__li ul {
    padding-top: 5px;
}

.nav__li ul li {
    padding-bottom: 10px;
    margin-top: 10px;
}

.nav__li ul li:hover {
    color: red;
}

.nav__li ul li a {
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav__li ul li img {
    width: 20px;
    height: auto;
    color: #fcfcfc;
}

/* Contenido principal */

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Pie de pagina */

footer {
    width: 100%;
    background-color: #f0f0f3;
}

footer p {
    font-size: .7em;
    padding-left: 10px;
    color: #808080;
}


/* Versión Mobile */

@media only screen and (max-width: 768px) {

    /* Encabezado */
    .header p {
        display: none;
    }

    /* Navegación */
    .nav {
        /* transform: translatey(-120%); */
        transform: translatey(0);
        width: 100%;
    }

    .nav__ul {
        font-size: 1.6em;
    }

    .nav__li button {
        font-size: 2em;
    }

    /* Contenido principal */
    .main-content {
      margin-left: -6.5em;
    }
}

@media only screen and (max-width: 400px) {
    .main-content {
        margin-left: -9em;
    }
}